span{
    position: absolute;
    top: 42%;
    font-size: 70px;
    left: .5%;
    cursor: pointer;
}
span:nth-child(2){
    position: absolute;
    top: 42%;
    font-size: 70px;
    left: 98%;
    text-align: center;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow-x:scroll ;
    position: relative;
    margin-top: 300px;
}
section::-webkit-scrollbar{
    visibility: hidden;
}
div{
    background-image: url(./photo_2021-10-03_09-09-02.jpg);
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    min-width: 320px;
    height: 250px;
    background-color: black;
    margin-right: 20px;
}
body{

    background-image: linear-gradient(3200deg  red black blue);
    width: 100%;
    height: 100vh;
}
