/* button{
    padding: 10,30;
    background-color: black;
    color: white;
}
.box{
    width: 100px;
    height: 100px;
    background-color:red;
}
input{
    width: 500px;
    height: 500px;
}
.showMe{
    width: 500px;
    height: 500px;
    background-image:url(./photo_2021-09-29_20-38-56);
} */
